* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
body {
}
// Header
// html,
// body {
//   position: relative;
//   height: 100%;
// }
.maxline {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  // line-height: 1.8em;
}

@font-face {
  src: url("/static/GE Dinar One Medium.otf");
  font-family: Ge-dinar;
}
* {
  font-family: Bahij-regular;
}
@font-face {
  src: url("/static/Bahij Janna-Regular.ttf");
  font-family: Bahij-regular;
}

@font-face {
  src: url("/static/Bahij Janna-Bold.ttf");
  font-family: Bahij-b;
}

.header-main {
  div:hover {
    cursor: pointer;
  }
  width: 100%;
  // border: 1px red solid;
  margin: auto;
  min-height: 8rem;
  // border: 2px red solid;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  .navbar-links {
    .home {
      color: #e41c26;
    }
    ul {
      display: flex;
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: #111111;
          padding: 1rem;
          display: block;
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
            var(--unnamed-line-spacing-21) Futura;
          letter-spacing: var(--unnamed-character-spacing-0);

          font: normal normal normal 1rem Futura;
          letter-spacing: 0rem;
          color: #000000;
          text-transform: uppercase;
        }
      }
      li:hover {
        background-color: #5e5e5e;
        transition: 1s;
        a {
          color: white;
        }
      }
    }
  }

  .search-button {
    margin-left: 3.1rem;
  }

  .header-main-sec1 {
    // border: 1px red solid;
    width: 3.5rem;
    margin-left: 5.188rem;
    justify-content: space-between;
    display: flex;

    .header-icon {
      color: #000000;
      font-size: 1.5rem;
      padding-right: 1rem;
    }
  }
  .navbar-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-right: -8rem;

    font-family: "Ge-dinar";
    // border: 1px red solid;
    .nav-sec0 {
      color: #4b4b4b;
      font-size: 1.2rem;
      text-align: right;
      margin: 0 1.5rem 0 1.5rem;
    }
    .nav-sec1 {
      color: #4b4b4b;
      font-size: 1.2rem;
      text-align: right;
      margin: 0 1.5rem 0 1.5rem;
    }
    .nav-sec2 {
      color: #4b4b4b;
      font-size: 1.2rem;
      margin: 0 1.5rem 0 1.5rem;
      text-align: right;
    }
    .nav-sec3 {
      color: #4b4b4b;
      font-size: 1.2rem;
      margin: 0 1.5rem 0 1.5rem;
      text-align: right;
    }
    .nav-sec4 {
      font-size: 1.2rem;
      margin: 0 1.5rem 0 1.5rem;
      text-align: right;
      color: #01563c;
    }
  }
  .header-main-sec3 {
    // border: 1px red solid;
    position: relative;
    left: 0.6rem;
    width: 10rem;
    margin-right: 5.188rem;
    height: 4.5rem;

    background-image: url("/static/logo.svg");
    background-repeat: no-repeat;
  }
}

.slider-control-next:hover {
  opacity: 1 !important;
  transition: all 0.3s ease;
  cursor: pointer;
}

.slider-control-prev:hover {
  opacity: 1 !important;
  transition: all 0.3s ease;
  cursor: pointer;
}

// Statistics
.Statistics {
  position: relative;
  overflow: hidden;
  // border: red solid 2px;
  .stat-back-main {
    position: absolute;

    top: -20rem;
    left: -10rem;
    width: 100%;
    height: 90%;
    background-image: url("/static/circle.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .stat-container1 {
    // opacity: 1;
    // transform: 1s opacity;
    margin-left: auto;
    // background: transparent url("./Images/stat.jpg") 0% 0% no-repeat padding-box;
    // background-image: url("/static/stat.jpg");
    // border: #000 2px dashed;

    /* Set a specific height */
    // min-height: 500px;

    /* Create the parallax scrolling effect */
    // background-attachment: fixed;
    // background-position: end;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-size: cover;
    z-index: 1;
    width: 100%;
    height: 80%;
    min-height: 35rem;
    border: 3px solid rgb(231, 180, 220);
    position: relative;
    .swiper {
      width: 150%;
      height: 120%;
    }
    /* .swiper-slier-1 {
     
      width: 100%;
      height: 100%;
      background-image: url("/static/stat.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    } */
    .swiper-slide {
      text-align: center;
      width: 100%;
      height: 100%;
      font-size: 18px;
      /* background: rgb(112, 23, 23); */
      // /* border: 2px red solid; */

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .stat-overlay {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        270deg,
        #000000 0%,
        #00000087 46%,
        #80808000 100%
      );
    }
    .stat-container1-com {
      max-width: 35rem;
      padding: 1rem;
      margin-right: 8%;
      margin-left: 8%;

      position: absolute;
      z-index: 3;
      top: 45%;
      transform: translate(50%, -50%);

      .stat-container1-com1 {
        // border: #000 solid 1px;
        text-align: center;
        font-size: 3.5rem;
        font-family: "Ge-dinar";

        color: #ffffff;
      }
      .stat-container1-com2 {
        // border: #000 solid 1px;
        text-align: center;
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
        line-height: 2rem;
        font-size: 1.2rem;
        font-family: "Bahij";

        color: #ffffff;
      }
      .stat-container1-com3 {
        display: flex;
        align-items: center;
        justify-content: center;
        // border: #000 solid 1px;
        // margin-top: 3rem;
        padding: 0.6rem;
        font-size: 1.4rem;
        width: 8rem;

        background-color: #ffffff;
        color: black;
        font-family: "Bahij";
        margin: auto;
        .stat-container1-com31 {
          margin-right: 5px;
        }
      }

      .stat-container1-com3:hover {
        background-color: #01563c;
        color: rgb(255, 255, 255);

        margin: auto;
        .stat-container1-com31 {
          margin-right: 5px;
        }
      }
    }
  }
  .stat-container2 {
    position: relative;
    z-index: 4;
    // border: #01563c 2px solid;
    bottom: 10rem;
    max-width: 45rem;
    min-height: 20rem;
    margin-top: 4rem;
    font-family: "Bahij";
    // border: rgb(0, 23, 128) dotted 3px;
    display: flex;
    background-color: white;
    flex-direction: row-reverse;
    .stat-container2-box1 {
      background-color: #01563c;
      color: white;
      background-image: url("/static/arrow45deg.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 70%;
      background-position-x: 70%;
      background-position-y: 25%;
      min-width: 3.3rem;
      height: 3.3rem;
      // margin-left: auto;
      // border: 2px rgb(157, 255, 0) solid;
    }

    .stat-container2-box1:hover {
      cursor: pointer;
    }

    .stat-container2-box2 {
      display: flex;
      flex-wrap: wrap;

      // border: green dotted 2px;
      max-width: 42rem;
      margin-top: auto;
      // justify-self: flex-end;
      margin-top: 3.8rem;
      margin-left: 2rem;

      .stat-container2-common {
        margin-right: 50px;

        .stat-container2-common1 {
          // border: 2px rgb(0, 255, 0) solid;
          display: flex;
          align-items: center;

          justify-content: center;
          .stat-num {
            font-size: 3rem;
            font-weight: bold;
            // border: 1px rgb(25, 0, 255) solid;
          }
          .plus-sign {
            color: #01563c;
            font-size: 2rem;
            // border: 1px red solid;
          }
        }
        .stat-info {
          // border: #01563c 2px solid;
          text-align: right;
          margin-top: 0.2rem;

          color: #5a5a5a;
        }

        width: 10rem;
        height: 8rem;
        padding: 0.5rem;
        // border: 1px blue solid;
      }
    }
  }

  .plus-sign {
    margin-left: 0.2rem;
  }

  .stat-container3 {
    display: flex;
    position: absolute;
    bottom: 20rem;
    right: 4.7rem;
    .stat-container31 {
      margin: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      width: 2.5rem;
      height: 2.5rem;
      font-size: 2rem;
      border-radius: 50%;
    }
    .stat-container32 {
      margin: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      width: 2.5rem;
      height: 2.5rem;
      font-size: 2rem;
      border-radius: 50%;
    }
    .stat-container33 {
      margin: 0.5rem;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 2.5rem;
      height: 2.5rem;
      font-size: 2rem;
      border-radius: 50%;
    }
  }
}

// // Footer
.dFlex {
  display: flex;
  align-items: center;
}
.footer {
  margin-top: 3.125rem;

  .footer1 {
    // border: red solid 2px;
    min-height: 18rem;
    background: #01563c 0% 0% no-repeat padding-box;
    @extend .dFlex;

    .footer-main {
      // border: red solid 2px;
      display: flex;
      border-bottom: #707070 0.5px solid;
      padding-bottom: 3rem;
      width: 100%;
      margin-left: 5rem;
      margin-right: 5rem;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 4rem;
      margin-bottom: 3rem;
      .footer11 {
        // width: 15rem;
        // border: rgb(13, 0, 128) solid 1px;

        .footer11-info {
          .footer11-info3 {
            display: flex;
            margin-top: 2.813rem;
            div {
              margin-right: 1.594rem;
              cursor: pointer;
            }
            div:nth-child(1) {
              width: 2rem;
              height: 2rem;
              // background: transparent url("../Images/Path 170.png") 0% 0%
              //   no-repeat padding-box;
            }
            div:nth-child(2) {
              width: 2rem;
              height: 2rem;
              // background: transparent url("../Images/Path 171.svg") 0% 0%
              //   no-repeat padding-box;
            }
            div:nth-child(3) {
              width: 2rem;
              height: 2rem;
              // background: transparent url("../Images/Group 159.svg") 0% 0%
              //   no-repeat padding-box;
            }
          }
          .footer11-info2 {
            margin-top: 1.188rem;
            cursor: pointer;
            div:hover {
              color: #b59434;
            }
            display: flex;
            div:nth-child(1) {
              // background: transparent url("../Images/phone.svg") 0% 0% no-repeat
              //   padding-box;
              width: 0.938rem;
              height: 0.938rem;
              margin-right: 0.813rem;
            }
            div:nth-child(2) {
              text-align: left;
              letter-spacing: 0rem;
              color: #ffffff;
            }
          }
          .footer11-info1 {
            display: flex;
            text-align: center;
            margin-top: 0.5rem;
            // border: 2px red solid;
            .footer11-info12 {
              // border: 2px rgb(0, 247, 255) solid;'
              width: 120%;
              font-size: 0.8rem;
              margin-top: 0.3rem;
            }
            div:nth-child(1) {
              // margin-right: 0.938rem;
              width: 0.75rem;
              height: 1.063rem;

              background: transparent url("/static/footer-logo.png") 0% 0%
                no-repeat padding-box;
            }
            div:nth-child(2) {
              width: 12.5rem;
              text-align: right;
              letter-spacing: 0rem;
              color: #ffffff;
            }
          }
        }
        .footer11-image {
          background-image: url("/static/footerlogo.png");
          width: 10.75rem;
          height: 4rem;
          background-size: cover;

          // border: 1px red solid;

          position: relative;
          left: 3rem;
          // top: -2.375rem;
        }
        .footer11-image:hover {
          cursor: pointer;
        }
      }
      .footer12 {
        // border: 1px green solid;
        width: 67%;
        display: flex;
        justify-content: space-between;
        font-size: 1.1rem;

        // align-items: center;
        flex-wrap: wrap;
        // margin-top: 1rem;
        .footer12-box1 {
          // border: #000000 solid 1px;
          div:hover {
            color: #b59434;
          }
        }

        .footer12-box1 {
          color: #ffffff;
          // border: 2px green dotted;
          h2 {
            letter-spacing: var(--unnamed-character-spacing-0);
            text-align: left;
            letter-spacing: 0px;
            color: #ffffff;
            margin-bottom: 2.563rem;
            // margin-left: 5rem;
            // margin-right: 5rem;
          }
          div {
            cursor: pointer;
            text-align: left;
            letter-spacing: 0px;
            color: #fff;
            margin-bottom: 1.813rem;
            // margin-left: 2rem;
            text-align: right;
            // margin-right: 2rem;
          }
        }
      }
    }
  }
  .footer2 {
    // border: #000000 solid 1px;
    min-height: 3.75rem;
    background: #01563c 0% 0% no-repeat padding-box;
    @extend .dFlex;
    flex-direction: column;
    justify-content: center;
    .footer2-section1 {
      .footer-icon {
        font-size: 1.3rem;
        margin: 0.5rem 0.7rem 0.7rem 0.7rem;
      }

      // svg {
      //   margin-right: 1rem;
      // }
    }
    .footer2-section2 {
      margin-bottom: 2rem;
    }
    div {
      text-align: center;
      color: #c8c8c8de;
      font-size: 0.8rem;
      margin-top: 0.5rem;
    }
  }
}

// // News

.news-container {
  display: flex;

  // margin-top: -5rem;
  // border: 1px rgb(68, 0, 255) solid;
  overflow: hidden;
  justify-content: center;
  .news-container-box {
    width: 100%;

    // border: 1px rgb(255, 0, 149) solid;
    .news-container-sec1 {
      z-index: 33;

      display: flex;
      width: 100% !important;
      align-items: center;
      justify-content: space-between;

      // border: blue 2px dashed;

      margin: 0rem auto 2rem auto;

      .news-container-box1 {
        font-size: 2rem;
        // border: red solid 2px;
        // width: 4rem;
        color: #b59434;
      }
      .news-container-box2 {
        width: 50rem;
        border-bottom: 2px #d9d9d9 solid;
        // border: red solid 2px;
        flex-grow: 1;
        margin-right: 1rem;
        margin-left: 1rem;
      }
      .news-container-box3 {
        // border: red solid 2px;
        font-size: 3rem;

        margin-right: 6.3rem;
        position: relative;
        .news-circle {
          position: absolute;
          top: 0.3rem;
          z-index: -1;
          right: -1.3rem;
          width: 50px;
          height: 50px;
          -webkit-border-radius: 25px;
          -moz-border-radius: 25px;
          border-radius: 25px;
          background: #d9d9d9;
        }
        .news-container-box31 {
          // border: #01563c 2px solid;
          text-align: right;
          font-family: "Ge-dinar";
        }
      }
    }
    .news-container-sec2 {
      display: flex;

      .news-container-sec21 {
        width: 49rem;
        // border: 4px rgb(0, 255, 85) solid;
        padding: 5rem 6% 5rem 7%;
        background-color: #f3f3f37a;
        .news-container-info1 {
          .news-container-infoo {
            display: flex;
            text-align: right;
            justify-content: space-between;
            // border: rgb(255, 251, 0) 2px dashed;
            @extend .maxline;
            max-height: 5rem;
            max-width: 52rem;

            .news-container-info11 {
              color: #252525;
              width: 33rem;
              // border: 1px red solid;
              text-align: right;
              padding-bottom: 2rem;
              font-size: 1.4rem;
              font-family: Bahij;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2; /* number of lines to show */
              line-clamp: 2;
              -webkit-box-orient: vertical;
              // border: 2px red solid;
              max-height: 3.6em;
              line-height: 1.8em;
            }
            .news-container-info12 {
              // border: #01563c 1px solid;
              transform: rotate(180deg);

              padding-left: 2px;
              align-self: center;
              color: #91b5aa;
              font-size: 2rem;
            }
          }

          .news-container-info13 {
            // font-size: 16px;
            margin-top: 1rem;
            letter-spacing: 0px;
            color: #7b7b7b;
            display: flex;
            justify-items: center;
            justify-content: flex-end;
            font-family: Bahij;
          }
        }
        .new-linesplit {
          max-width: 35rem;
          border-bottom: #dadada 1px solid;
          margin-left: auto;
          margin-top: 2rem;
          margin-bottom: 2rem;
        }
        // .news-container-info2 {
        // }
        // .news-container-info3 {
        // }
      }
      .news-container-sec22 {
        z-index: 1;
        width: 500px;
        margin-right: 3rem;
        font-family: Bahij-regular;
        min-height: 300px;
        margin-top: 4.5rem;
        margin-bottom: auto;
        position: relative;
        left: -3rem;
        // border: 1px rgb(4, 0, 255) dotted;
        background: transparent url("/static/mainnews.jpg") 0% 0% no-repeat
          padding-box;
        background-size: cover;
        background-position: center;
        .news-ovelay {
          top: 0rem;
          bottom: 0rem;

          left: 0rem;
          right: 0rem;
          position: absolute;
          z-index: 2;
          background-color: rgba(0, 0, 0, 0.247);
        }
        .linear-new {
          position: absolute;
          top: 0px;
          bottom: 0px;
          left: 0px;
          right: 0px;
          background-image: linear-gradient(223deg, #000000 0%, #54545400 100%);
        }
        .news-styleBox {
          width: 10rem;
          height: 10rem;
          // border: 1px rgb(0, 26, 255) dashed;

          position: absolute;
          background: url("/static/ellipse8452.png") 0% 0% no-repeat padding-box;
          top: -2rem;
          right: -2.5rem;
          z-index: -12;
        }
        .new-image1 {
          // @extend .maxline;
          font-size: 2.3rem;
          z-index: 3;
          line-height: 1.3;
          font-family: Bahij-b;
          max-width: 80%;
          padding-right: 3rem;
          padding-top: 1.5rem;

          position: relative;
          margin-left: auto;
          text-align: right;
          color: #ffffff;
          max-height: 9rem;
          font-weight: bold;
          // margin-right: 2rem;
        }
        .new-image2 {
          // border: 1px rgb(17, 0, 255) solid;

          z-index: 3;
          max-width: 17rem;

          padding-right: 3rem;
          padding-top: 2rem;
          color: #d9d9d9;
          font-family: "Bahij";
          position: relative;
          margin-left: auto;
          text-align: right;
          // margin-right: 2rem;
        }
        .new-image3 {
          // border: 1px rgb(0, 255, 106) solid;
          max-width: 70%;
          font-family: "Bahij";
          margin-left: auto;
          text-align: right;
          // margin-right: 2rem;
          overflow: hidden;
          font-size: 1rem;
          padding-right: 3rem;
          line-height: 2;
          position: relative;
          z-index: 3;
          margin-top: 3rem;
          margin-bottom: 8rem;
          color: #f1f1f1;
        }
      }
    }
  }
}

html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;

  // border: 5px red dashed;
  .news-container-sec1 {
    z-index: 33;
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 5rem;
    // border: blue 20px dashed;

    margin: 4rem 6.3rem 4rem 0.8rem;

    .news-container-box1 {
      font-size: 2rem;
      width: 8rem;
      height: 4rem;
      // margin-bottom: 4rem;
      // border: red solid 2px;
      color: #01563c;
    }
    .news-container-box2 {
      width: 45rem !important;
      padding-left: 1rem;
      padding-left: 1rem;
      // margin-left: 7rem;
      // border: red solid 2px;
      border-bottom: 2px #d9d9d9 solid;
    }
    .news-container-box3 {
      font-size: 3rem;
      // border: red solid 2px;
      // margin-bottom: 4rem;

      position: relative;
      .news-circle {
        position: absolute;
        top: 0.3rem;
        z-index: -1;
        right: -1.3rem;
        width: 50px;
        height: 50px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        background: #cbb57740;
      }
      .news-container-box31 {
        // border: #01563c 2px solid;
        text-align: right;
      }
    }
  }
  .swiper-button-next {
    border: 3px #cbb577 solid;

    color: #cbb577;
    padding: 0.2rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 2rem;
    left: 10rem;
  }

  .swiper-button-prev {
    // margin: 1rem;
    border: 3px #cbb577 solid;
    color: #cbb577;
    padding: 0.2rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 2rem;
    left: 6rem;
  }
}

.swiper-slide {
  // margin: auto;
  // border: 1px rgb(0, 255, 34) solid;
  // width: 100px;
  // height: 100px;
  text-align: center;
  font-size: 18px;
  display: flex;
  background: #fff;
  height: calc((90% - 85px) / 2) !important;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slider1 {
  // border: 2px rgb(98, 0, 255) solid;
  width: 100%;
  height: 100%;
  // background-color: #01563c;
  background-image: url("/static/slider1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.swiper-slider2 {
  // border: 2px red solid;
  width: 100%;
  height: 100%;
  background-image: url("/static/slider2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.swiper-slider3 {
  // border: 2px red solid;
  width: 100%;
  height: 100%;
  background-image: url("/static/slider4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.swiper-slider4 {
  // border: 2px red solid;
  width: 100%;
  height: 100%;
  background-image: url("/static/slider4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.swiper-slider5 {
  // border: 2px red solid;
  width: 100%;
  height: 100%;
  background-image: url("/static/slider5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.swiper-slider6 {
  // border: 2px red solid;
  width: 100%;
  height: 100%;
  background-image: url("/static/slider6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.swiper-slider7 {
  // border: 2px red solid;
  width: 100%;
  height: 100%;
  background-image: url("/static/slider6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.swiper-slider8 {
  // border: 2px red solid;
  width: 100%;
  height: 100%;
  background-image: url("/static/slider6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.swiper-slider9 {
  // border: 2px red solid;
  width: 100%;
  height: 100%;
  background-image: url("/static/slider6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.slick-slider {
  // border: 1px red solid;

  height: 35rem;
  .slick-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  .slick-slide1 {
    width: 100%;
    height: 35rem;
    background-color: #562e01;
  }
  .slick-slide2 {
    width: 100%;
    height: 35rem;
    background-color: #562e01;
  }
  .slick-slide3 {
    width: 100%;
    height: 35rem;
    background-color: #560135;
  }
}

@media only screen and (max-width: 1115px) {
  .header-main {
    .header-main-sec1 {
      .burger-button {
        display: block;
      }
    }
    .navbar-section {
      display: none;
    }
  }

  .footer {
    .footer1 {
      .footer-main {
        justify-content: center;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .Statistics {
    .stat-container1 {
      width: 100%;
    }
    .stat-container2 {
      width: 100%;
      bottom: 0rem;
    }
  }
  .news-container {
    .news-container-box {
      .news-container-sec2 {
        flex-wrap: wrap;
        .news-container-sec21 {
          width: 87%;
          margin: auto;
        }
        .news-container-sec22 {
          .new-image1 {
            padding-left: 2rem;
          }
          .new-image2 {
            padding-left: 2rem;
          }
          .new-image3 {
            padding-left: 2rem;
          }

          .news-styleBox {
            display: none;
          }
          width: 100%;
          margin: auto;
          left: 0rem;
        }
      }
    }
  }
  .swiper {
    height: 50%;

    .swiper-slide {
      // border: 3px dashed rgb(200, 255, 0);
      width: 500px;
      height: 500px;
    }

    .swiper-slider1 {
      width: 500px;
      // height: 500px;
      // border: #562e01 2px dashed;
    }
    .news-container-sec1 {
      .news-container-box2 {
        display: none;
      }
    }
    .swiper-button-next {
      // border: 4px red solid;
      left: 5.5rem;
    }
    .swiper-button-prev {
      // position: absolute;
      // top: 2rem;
      left: 1.5rem;
    }
  }
}

.footer {
  font-family: "Bahij" !important;
}

@media only screen and (max-width: 520px) {
  .swiper {
    .swiper-button-next {
      // left: ;
    }
    .swiper-button-prev {
    }
  }
  .news-container {
    .news-container-box {
      .news-container-sec2 {
        .news-container-sec21 {
          .news-container-info1 {
            .news-container-infoo {
              // background-color: #000000;
              max-width: 500px;
            }
          }
        }
      }
    }
  }
}

//////////////////////////
@import "https://fonts.googleapis.com/css?family=Montserrat";

@font-face {
  font-family: Narziss;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42764/Narziss_Bold_Drops.woff2);
}
@font-face {
  font-family: Narziss-medium;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42764/Narziss_Bold_Drops.woff2);
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

$red: #ee4654;
$black: #473243;
$blue: #6989e0;
$green: #6cd779;
$grey: #bcbcbc;

//.hide {display:none}

*,
*::after,
*::before {
  box-sizing: border-box;
}
.Statistics {
  .container1 {
    .slider-content {
    }
  }
}
body,
html {
  background: transparent;
  // font-size: 6px;
  // padding: 4rem 2rem;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;

  @media (max-width: 860px) {
    .Statistics {
      font-size: 10px;
      // background-color: red;
    }
  }

  @media (max-width: 500px) {
    font-size: 6px;
  }
}

// .header-wrapper {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   padding: 2rem 3rem 2rem;
//   z-index: 999;

//   .header {
//     position: relative;
//     display: block;
//     width: 100%;
//     height: 6rem;
//   }

//   .menu-wrapper {
//     position: relative;
//     float: left;
//     display: block;
//     cursor: pointer;
//     width: 2.5rem;
//     height: 3rem;
//     right: 0;
//     margin: 0;
//     text-align: left;

//     @include clearfix;
//   }

//   .menu-hamburger {
//     position: relative;
//     width: 1.4rem;
//     display: inline-block;
//     vertical-align: middle;
//     background: white;
//     height: 1px;
//     cursor: pointer;
//     right: 0;
//     top: 1rem;

//     &::before {
//       content: "";
//       width: 2.5rem;
//       height: 1px;
//       background: white;
//       position: absolute;
//       top: -0.8rem;
//       left: 0;
//     }

//     &::after {
//       content: "";
//       width: 2rem;
//       height: 1px;
//       background: white;
//       position: absolute;
//       top: 0.8rem;
//       left: 0;
//     }
//   }

//   .nav-wrapper {
//     position: relative;
//     float: right;
//   }

//   nav {
//     display: block;
//     font-size: 1.2rem;
//     font-weight: bold;
//     line-height: 1;
//     font-weight: 700;
//     color: white;

//     ul {
//       padding: 0;
//       display: block;
//       list-style: none;

//       @include clearfix;
//     }

//     li {
//       float: left;
//       margin: 0 1.2rem;

//       &:last-child {
//         margin-left: 0;
//       }
//     }
//   }
// }

.lines-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
  span.vertical {
    position: absolute;
    height: 1px;
    width: 100%;
    background: white;
    top: 12%;
    left: 0;
    z-index: 1;
    opacity: 0.05;
  }

  .croses span {
    color: white;
    font-size: 1rem;
    position: absolute;
    top: 11%;
    left: calc(20% - 2px);

    &:nth-child(2) {
      left: calc(40% - 2px);
    }

    &:nth-child(3) {
      left: calc(60% - 2px);
    }

    &:nth-child(4) {
      left: calc(80% - 2px);
    }
  }

  span.horizontal {
    position: absolute;
    width: 1px;
    height: 100%;
    background: white;
    z-index: 1;
    left: 20%;
    opacity: 0.05;

    &:nth-child(2) {
      left: 40%;
    }

    &:nth-child(3) {
      left: 60%;
    }

    &:nth-child(4) {
      left: 80%;
    }
  }
}

.slider-content {
  position: relative;
  max-width: 112rem;
  min-width: 480px;
  background: #fff;
  margin: 0 auto;

  .slider-container {
    position: relative;
    height: 50rem;
  }

  .slide-content {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    background-size: auto 125%;
    background-position: 0px -45px;
    background-repeat: no-repeat;
    opacity: 0;

    @include clearfix;

    &.active {
      opacity: 1;
      z-index: 50;
    }

    &.next {
      opacity: 1;
    }

    &.red {
      background-color: $red;
    }

    &.blue {
      background-color: $blue;
    }

    &.green {
      background-color: $green;
    }

    &.grey {
      background-color: $grey;
    }
  }

  .canvas {
    position: absolute;
    left: 0;
    top: 0;
    //opacity:0;
    display: none;
  }

  .fake-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    background-size: auto 125%;
    background-position: 0px -45px;
    background-repeat: no-repeat;

    &.red {
      background-image: url("/static/stat1.jpg");
      // background-color: $red;
      // background-size: cover;
    }

    &.blue {
      background-image: url("/static/stat2.jpg");
      // background-color: $blue;
      // background-size: cover;
    }

    &.green {
      background-image: url("/static/stat3.jpg");
      // background-color: $green;
      // background-size: cover;
    }

    &.grey {
      background-image: url("/static/stat1.jpg");
      background-color: $grey;
    }
  }

  .image-mask {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 125%;
    overflow: hidden;

    img {
      position: absolute;
      display: block;
      width: auto;
      height: 100%;
      top: -45px;
    }
  }

  .mask-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0rem;
    left: -5rem;
    // overflow:hidden;

    img.clip {
      width: 100%;
      clip-path: url(#svgPathBig);
    }
  }

  .image-caption {
    position: absolute;
    color: white;
    transform: rotate(-90deg);
    top: 20rem;
    left: 12rem;
    font-size: 1.3rem;
    z-index: 10;
    clip: rect(0rem, 21rem, 12rem, 0px);
    display: inline-block;
    transition: all 0.3s ease;

    &.mask-up {
      clip: rect(0rem, 0rem, 12rem, 0px);
    }

    &.mask-down {
      clip: rect(0rem, 21rem, 2rem, 200px);
    }

    span {
      display: inline-block;
      vertical-align: top;
    }

    .line {
      position: relative;
      background: white;
      height: 1px;
      width: 5rem;
      top: 1rem;
    }
  }

  .title-background {
    position: absolute;
    font-size: 25rem;
    font-family: Narziss;
    top: 8rem;
    left: 4rem;
    color: black;
    opacity: 0.03;
    text-align: right;

    span.mask-wrap {
      display: block;
      height: 25rem;
      position: relative;
      span.mask {
        position: absolute;
        top: 0;
        left: 0;
        clip: rect(0rem, 120rem, 25rem, 0px);
        transition: all 0.3s ease-in;
      }

      &:last-child span.mask {
        transition-delay: 0.15s;
      }
      &.mask-up span.mask {
        clip: rect(0rem, 120rem, 0rem, 0px);
      }
      &.mask-down span.mask {
        clip: rect(25rem, 44rem, 25rem, 0px);
      }
    }
  }

  .title-wrapper {
    position: relative;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: right;
    margin-top: 10rem;
    z-index: 5;

    h1 {
      font-size: 12rem;
      margin: 0;
      line-height: 1;
      margin-bottom: 1rem;
      font-weight: 900;
      text-align: right;
      font-family: Narziss-medium;
      margin-left: 5rem;

      span.mask-wrap {
        display: block;
        height: 12rem;
        position: relative;
        span.mask {
          position: absolute;
          top: 0;
          right: 0;
          clip: rect(0rem, 48rem, 12rem, 0px);
          transition: all 0.3s ease-in;
        }

        &:last-child span.mask {
          transition-delay: 0.15s;
        }

        &.mask-up span.mask {
          clip: rect(0rem, 44rem, 0rem, 0px);
        }
        &.mask-down span.mask {
          clip: rect(12rem, 44rem, 12rem, 0px);
        }
      }
    }

    span.gallery {
      position: relative;
      text-align: right;
      padding: 0 2rem;
      cursor: pointer;
      margin-right: 5rem;

      &::before {
        content: "";
        position: absolute;
        left: -2rem;
        display: block;
        width: 1px;
        height: 2.5rem;
        background: white;
        top: -0.5rem;
        opacity: 0.9;
      }

      &::after {
        content: "";
        position: absolute;
        right: -2rem;
        display: block;
        width: 1px;
        height: 2.5rem;
        background: white;
        top: -0.5rem;
        opacity: 0.9;
      }
    }
  }
}

.control-nav {
  position: absolute;
  right: 3rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;

  ul {
    position: relative;
    list-style: none;
    padding: 0;
  }

  li {
    position: relative;
    margin: 0.2rem 0;
    opacity: 0.5;
    border-radius: 3rem;
    color: white;
    font-size: 1rem;

    &.active {
      opacity: 1;

      .line {
        transform: translateX(-1.2rem);
        width: 1.8rem;
      }
      .number {
        opacity: 1;
      }
    }
  }

  .line {
    width: 1.5rem;
    height: 1px;
    display: block;
    position: absolute;
    top: 50%;
    background: white;
    left: -1rem;
    transition: all 0.3s ease;
  }

  .number {
    position: relative;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}

.social-icons {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  z-index: 999;

  ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      display: block;
      padding: 0.3rem 0;
    }

    a {
      display: block;
      width: 2rem;
      height: 2rem;

      svg {
        fill: white;
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.footer-wrapper {
  position: absolute;
  color: white;
  bottom: 0rem;
  right: 0rem;
  width: 60%;
  height: 6rem;
  z-index: 999;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    height: 100%;

    @include clearfix;
  }

  li {
    position: relative;
    float: left;
    width: 25%;
    padding: 1.5rem;
    background: rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;

    &:last-child {
      border: none;
    }

    &.active .hover-box {
      opacity: 1;
      transform: scale(1.15);
    }

    .hover-box {
      position: absolute;
      width: 100%;
      height: 100%;
      background: $black;
      top: 0;
      left: 0;
      opacity: 0;
      transition: all 0.3s ease-in;
      z-index: 1;
    }

    .box-content {
      position: relative;
      z-index: 5;
    }
  }
}
